# Python bytecode
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# IDE settings
.vscode/
.idea/

# Output files
*.png

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite